<h1><%= @team.name %> Players</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Jersey Number</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.full_name, player_path(player)%></td>
        <td><%= player.jersey_number %></td>
        <td>
          <%= link_to player_path(player), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_player_path(team_id: @team.id),
            :class => 'btn btn-primary' %>
